body{
    padding: 0px;
    border: 0px;  
    background-color: black;
}
.DisplayGrid{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display:grid;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 200px 200px 200px;
   justify-content:left;
   align-content: center;
   justify-items: stretch;
   align-items: center;
    grid-auto-flow:row;
    color: beige;

}
.hijo{
    width: 100%;
     height: 100%;
    background-color: black;
    border: 1px white solid;
}
#hijo1{
   grid-column-start: 1;
   grid-column-end: 3;
}